/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.nav {
    padding-top: 15px;
}

.nav .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
}

.nav-link {
    padding: 14px 7px;
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.get-start {
    padding: 14px 20px;
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    background-color: #F04037;
}

.get-start:hover {
    background-color: #f52217;
}

.dropdown-list {
    padding: 20px 0;
    width: 200px;
    background-color: white;
    display: none;
    position: absolute;
    left: 100%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    border: 1px solid #EAE9F2;
    border-top: 3px solid #5454D4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
            box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
}

.dropdown-link {
    padding: 10px 27px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 15px;
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.subdropdown {
    position: relative;
}

.subdropdown:hover .subdropdown-list {
    display: block;
}

.subdropdown-list {
    padding: 20px 0;
    width: 200px;
    background-color: white;
    display: none;
    position: absolute;
    left: 0%;
    top: 0;
    -webkit-transform: translate(-100%);
        -ms-transform: translate(-100%);
            transform: translate(-100%);
    border: 1px solid #EAE9F2;
    border-top: 3px solid #F04037;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
            box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
}

.subdropdown-link {
    padding: 10px 27px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 15px;
}

.box1 {
    width: 60%;
}

.main-title {
    font-size: 80px;
    line-height: 84px;
}

.main-text {
    font-size: 21px;
    color: #696871;
    line-height: 39px;
    letter-spacing: -0.656526px;
    width: 80%;
    margin-top: 25px;
    margin-bottom: 35px;
}

.main {
    padding: 200px 210px;
}

.main .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header {
    background-image: url("./img/oval.png");
    background-repeat: no-repeat;
    margin-top: 0;
    background-position: left top;
}

.main-link {
    color: #fff;
    background-color: #F0544C;
    padding: 16px 36px;
    display: inline-block;
    text-decoration: none;
    font-size: 21px;
    border-radius: 5px;
    -webkit-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.main-link:hover {
    background-color: #C31A12;
}

.intro-video {
    color: #5454D4;
    font-weight: 500;
    letter-spacing: -0.500211px;
    text-decoration: none;
    margin-top: 15px;
}

.popular-text {
    font-size: 18px;
    color: #696871;
    margin-bottom: 34px;
}

.img-pop {
    margin-bottom: 43px;
}

.main1-left {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #5454D4;
    background-image: url("./img/Oval_2.png"), url("./img/white_curve.svg");
    padding: 160px 0;
    background-repeat: no-repeat;
    background-size: 50%, contain;

    background-position: top right, bottom -10px center;

}



.main1 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main1-right {
    width: 50%;
    margin-left: 65px;
}

.main1-item {
    width: 47%;
    padding: 29px 28px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.main1-item:hover {
    -webkit-box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
            box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
}

.main1-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}

.main1-item-strong {
    font-size: 24px;
    color: #19191B;
    font-weight: bold;
    letter-spacing: -0.750316px;
    display: block;
    margin-bottom: 13px;
}

.main1-item-text {
    font-size: 16px;
    color: #696871;
    letter-spacing: -0.500211px;
    margin-bottom: 13px;
}

.main1-item img {
    margin-bottom: 22px;
}

.main1-title {
    color: #fff;
    font-size: 60px;
    letter-spacing: -1.87579px;
    line-height: 70px;
}

.main1-text {
    line-height: 39px;
    color: rgba(255, 255, 255, 0.702469);
    letter-spacing: -0.656526px;
    font-size: 21px;
    margin-top: 21px;
    margin-bottom: 38px;
    width: 95%;
}

.main1-link {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.656526px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 17px 25px;
    border: 1px solid white;
    display: inline-block;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.main1-link:hover {
    background-color: #fff;
    color: #5454D4;
}


.companies-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px;
}

.company-img-ii{
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.company-img-ii:hover{
    -webkit-filter: none;
            filter: none;
}


/* end main section */


.save .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.save-title {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
}

.save-text {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: #696871;
    margin-top: 18px;
}

.save-link {
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #FFFFFF;
    padding: 15px 30px;
    background-color: #F04037;
    border: 1px solid #C31A12;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 35px;
    display: inline-block;
    width: 200px;
}

.left-save {
    padding: 150px 0;
    margin-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
}

.save {
    padding: 100px 0;
}

/* end save section */


.need {
    background-color: #F7F7FB;
    padding: 160px 0;
    background-image: url("./img/white-curve-2.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.need-title {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
    width: 90%;
}

.need-text {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: #696871;
    margin-top: 20px;
    margin-bottom: 40px;

}

.features-name {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.656526px;
    color: #19191B;

}

.features-smt {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.656526px;
    color: #696871;
    font-weight: 400;
}

.need-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    width: 370px;
    padding: 20px;
    margin-bottom: 15px;
}

.features-text {
    margin-left: 20px;
}

.need-item img {
    width: 55px;
    height: 55px;
}

.need .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* .img-man-tablet{
        width: 480px;
        height: 695px;
    } */

.left-need {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.right-need {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 80px;
}

/* end need section */
.loving {
    padding: 88px 0;
}

.upper-cutomer-item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.cutomers-item {
    padding: 29px;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    width: 350px;
}

.customers-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.customer-name {
    font-size: 21px;
    line-height: 28px;

    letter-spacing: -0.656526px;

    color: #19191B;
}

.cutomer-profession {
    font-size: 16px;
    line-height: 28px;

    letter-spacing: -0.500211px;

    color: #696871;

}

.customer-text {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;

    color: #19191B;

}

.cutomer-img {
    width: 40px;
    height: 40px;
    margin-right: 13px;
}

.omega-link {
    text-decoration: none;
    color: #5454D4;
    display: inline-block;
}

.loving-title {
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #19191B;
}

.link-twittter {
    display: inline-block;
    margin-left: auto;
    font-size: 24px;
    color: #5454D4;
}


.all-estimators {
    color: #5454D4;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.all-estimators-link {
    color: #5454D4;
    font-weight: 500;
    text-decoration: none;
    margin-left: 7px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.500211px;
    margin: 0 auto;
}


/* end Customers section */

.get-started-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.get-started-section {
    background-color: #19191B;
    background-image: url("./img/white-curve-3.svg"), url("./img/oval_4.png");
    background-repeat: no-repeat;
    background-size: contain, 30%;
    background-position: top -10px center, left top;
    padding: 100px 0;
}

.get-started-title {
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -1.87579px;
    color: #FFFFFF;
}

.get-started-text {
    font-size: 21px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: rgba(255, 255, 255, 0.7);
    width: 500px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.form-get {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.input-form {
    width: 100%;
    padding: 25px 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 15px;
    outline: none;
    border: none;
}

.input-form::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.562737px;
    color: #696871;
}

.input-form::-moz-placeholder {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.562737px;
    color: #696871;
}

.input-form:-ms-input-placeholder {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.562737px;
    color: #696871;
}

.input-form::-ms-input-placeholder {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.562737px;
    color: #696871;
}

.input-form::placeholder {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.562737px;
    color: #696871;
}

.button-submit {
    background-color: #F04037;
    border: 1px solid #C31A12;
    border-radius: 10px;
    font-size: 21px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #FFFFFF;
    padding: 18px 30px;
    line-height: 25px;
}


.footer {
    background-color: #19191B;
}

.strong-links-link,
.strong-item-link {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    letter-spacing: -0.500211px;
    color: #FFFFFF;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}



.mini-links-item,
.mini-links-link {
    font-size: 16px;
    text-decoration: none;
    line-height: 38px;
    letter-spacing: -0.500211px;

    color: rgba(255, 255, 255, 0.7);

}

.mini-links-item:first-child {
    margin-top: 20px;
}

.mini-links-link{
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.mini-links-link:hover{
    color: rgba(73, 71, 71, 0.7);

}

.navlink-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 100px;
}

.footer-omega-logo {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
    color: #FFFFFF;
}

.copyright {
    font-size: 13px;
    line-height: 38px;
    /* identical to box height, or 292% */

    letter-spacing: -0.406421px;

    color: rgba(255, 255, 255, 0.7);
    padding: 20px 0;
}

.footer-hr {
    border: 1px solid #2F2F31;

}